{% extends 'blog/base.html' %}
{% block title %}Детали поста{% endblock %}
{% block content %}
<div class="container">
    <h2>{{ blog.title }}</h2>
    <p>Контент: {{ blog.content }}</p>
    <p>Дата публикации: {{ blog.created_at|date:"d M Y" }}</p>
    <p>Количество просмотров: {{ blog.views_counter }}</p>
    <p>ID: {{ blog.pk }}</p>
    <a href="{% url 'blog:blog_update' blog.pk %}" class="btn btn-secondary">Редактировать</a>
    <a href="{% url 'blog:blog_delete' blog.pk %}" class="btn btn-danger">Удалить</a>
    <a href="{% url 'blog:blog_list' %}" class="btn btn-primary">Вернуться к списку постов</a>
</div>
{% endblock %}