{% extends 'base.html' %}
{% block title %}Store Home page{% endblock %}
{% load my_tags %}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">СПИСОК ПРОДУКТОВ</h1>
    <p class="lead">САМЫЕ ПОПУЛЯРНЫЕ</p>
</div>
<div class="container">
    <div class="row text-center">
        {% for product in products %}
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ product.name }}</h4>
                </div>
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">
                        <img class='product-image' src="{{ product.image|media_filter }}">
                    </h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">{{ product.price }} ₽</h1>
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li>- Категория: {{ product.category|truncatechars:10 }}</li>
                        <li>- Описание: {{ product.description|truncatechars:100 }}</li>
                        <li>- Дата создания: {{ product.created_at|date:"d M Y" }}</li>
                        <li>- Дата обновления: {{ product.updated_at|date:"d M Y" }}</li>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-outline-primary">Срочно купить</button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}