{% load my_tags %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} Store {% endblock %}</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
{% include 'catalog/header.html' %}
{% block content %}
{% endblock %}
{% include 'catalog/footer.html' %}
<script src="/static/js/bootstrap.min.js"></script>
</body>
</html>